#root{
    width: 100%;
    background-color:#191414;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.logo{
    width: 150px;
}
.search{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.search>input{
    width: 100%;
    display: inline;
}
.content-artist{
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
    cursor: pointer;
}
.card-body:hover{
    background-color: bisque;
}
.card-title:hover{
    color: aqua;
}


.content-track{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.body-track{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.img-track{
    width: 250px;
    height: 250px;
}

